# phpstorm project files
.idea

# vscode project files
.vscode

# netbeans project files
nbproject/*

# vscode project files
.vscode

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

/report/
/vendor/
/var
composer.lock
